.many-options {
    appearance: none;
    border: none;
    background-color: #1677FF;
    padding-inline: 6px 6px;
    border-radius: 0.5rem 8px;
    display: inline-flex;
    block-size: min-content;
    color: #fff;
}