$white: #fff;
$black: #000000;
$yellow: #fca311;
$primary-color: $yellow;
$dark: #242525;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f5222d;
$orange: #fd7e14;
$yellow: #f1c40f;
$green: #52c41a;
$teal: #20c997;
$cyan: #007bc3;
$gray: #e5e5e5;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dadce0;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #c7c7c7;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;