.c-main{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    &-card{
        border-radius: 8px;
        border: 1px solid #ccc;
        box-shadow: var(0px 1px 1px #091E4240, 0px 0px 1px #091E424F,0px 1px 1px rgba(9,30,66,0.13),0px 0px 1px rgba(9,30,66,0.13));
    }
    &-template{
    width: 75px;
    height: 50px;
    border-radius: 8px;
    background-image: url("../../../../../assets/images/scrum.svg");
    background-size: cover;
    background-color: #f4f5f7;
    }
    &-type{
        width: 75px;
    height: 50px;
    background-image: url("../../../../../assets/images/team-managed.svg");
    background-size: cover;
    background-color: #f4f5f7;
    }
}